body{
    background-color: black;
    color: white; 
    padding-top:100px; 
    font-family: 'Lora', 'Times New Roman', Times, serif;
}

nav {
    padding: 0%;
}

.nav_div {
    border: 25px; 
    margin-top: 0%; 
    padding-top: 0%;
}

#footer_id  {
    position: absolute;
    padding-bottom: 5%;
    border-color: grey; 
    text-align: center;
    margin-bottom: 9%; 
    margin-top: 20%;
}

#footer_id div:nth-child(1) {
    margin-top: 4.5%;
    margin-bottom: 2.5%; 
    font-size: 200%;
}
#footer_id div:nth-child(2) {
    height: 150%;
}

img {
    height: 45px;
}

#image1 {
    width: 100px;
}

#image2 {
    margin-left: 0.25%;
    width: 75px;
    padding-right: 1.5%;
    margin-right: 00.15%;
}
    
#image3 {
    width: 60px;
}

#footer_id div:nth-child(3) {
    margin-top: 2%;
    margin-bottom: 0; 
    font-size: 150%;
}

@media (max-width: 265px) {
    body{
        padding-top: 155px;
        background-color: green;
    }
    img {
        width: 30% !important;
    }
}
